<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {#
            flashes :
               (key) success :
                    - message succès 1
                    - message succès 2
               (key) danger :
                    - message danger 1
                    - message danger 2
        #}
        {% for key, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% block nav %}
        <nav>
            <a href="{{ path('app') }}">Page app</a>
            <a href="{{ path('app1') }}">Page app1</a>
            <a href="{{ path('app2_variables') }}">Page app2</a>
        </nav>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block js_perso %}
            <script>
                console.log("Chargement de la page ok");
            </script>
        {% endblock %}
    </body>
</html>
